<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
  body
      header.header
        nav.header_navigation_bar
          ul.header_navigation_bar__items
            li
              a(href="/") Shop
            li
              a(href="/admin/add-product") Add product
      main.main_content
        if prods.length > 0
          each product in prods
            article.product__item
              h1 #{product.title}
              img(src='/assets/img/book.jpg', alt="Book")
              h2 Price 1.99$
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, molestias.
              button.gradient-btn Add to Card
        else 
          h1 No products
